@media only screen and (min-width: 1024px) and (max-width: 1250px){
	
}
	
	@media(min-width: 768px){

		.breadcrumbs {
			width: 100%;
		}
		/*  mainpage  */
		.main-news{
			.box{
				border: 1px solid red;
				width: 100%;
				display:block;
			}
		}
		
	}/*  end width: 768px  */

	@media(min-width: 600px){
		
	}/*  end width: 600px  */

	@media(min-width: 480px){
		
	}/*  end width: 480px  */

	@media(min-width: 320px){
	.ehb-cat-imgs{
		.box{
			width: 100%;
		}
	}
	}/*  end width: 320px  */
