/*
 * Core: General Layout Style
 colors, variables
 * -------------------------
 */
 @import "variables";
 @import "_gallery";
 @import "_mixins";
 @import "fonts";

@import url('https://fonts.googleapis.com/css?lang=ru&family=Product+Sans|Roboto:400,700');




/*
fornt for titles Roboto
https://fonts.google.com/specimen/Roboto
*/

*{
	margin: 0;
	padding: 0;
}

body {
 /*	 font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
 	 font-weight: 400;
 	 overflow-x: hidden;
 	 overflow-y: auto;
}



.title-uppercase{
	margin: @gutter 0;
	text-decoration: uppercase;
}
img {
	display: block;
	border: 0;

}

a{
	
	&:hover{
		text-decoration: underline;
	}
}



body{
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 400;
  	overflow-x: hidden;
 	overflow-y: auto;
 	height: 100%;
}

.wrapper{
		grid-template-columns: repeat(2, 1fr);
	    grid-template-rows: 1fr minmax(1em, auto);
	    grid-template-areas: "header header"
	   					      "menu menu"
                              "content sidebar"
                              "footer footer";

        grid-gap: @gutter;
	}




.container{
	width: 1250px;
	margin: 0 auto;
}

nav{
	grid-area: menu;
}

.main-navigation{
	position: relative;
	max-height: 50px;
	z-index: 1000;

	.search{
		input{
			height: 39px;
			width: 231px
		}
	}

	.grid{
		grid-template-column: repeat(2, minmax(95% 5%));
		grid-template-areas: "menu social";
		grid-gap: @gutter;
	}

	.menu{
	grid-area: menu;
 	.transitions;

	ul{
		display: flex;
		justify-content: space-between;
		    
	}
	li{
		list-style-type: none;
			
	}
	li a{
		text-decoration: none;
		text-transform: uppercase;
	}
	ul li a{
		color: #293036;
		border-radius: 10px;
		padding: 10px;
		&:focus,
		&:hover, &:active{
				border: 1px solid @accentcolor;
				
				color: @accentcolor;
		}
	}
} 

	.social{
		grid-area: social;
		display: inline-flex;
		justify-content: right;
		vertical-align: middle;

		a{
		text-align: right;
			margin: 0;
			padding-right: 15px
		}
		
	}
}



/* end menu*/

/*  content  */

.content{
	grid-area: content;
	min-height: 100%;
	h2{
		padding: 15px 0;
	}

	p{
	 	word-break: break-word;
	}
	.dates, a{
		font-size: 10px;
		padding: 5px 0 10px;
		margin-bottom: 5px;
		color: gray;
	}
	
	section{
		margin-bottom: @widemargin;
	}

	/* breadcrumbs */
	.breadcrumbs{
		a{
			text-decoration: underline;

		&:after{
			content: ' / ';
		}
		&:last-child{
			content: '';
			color: @accentcolor;
		}
		}
		
	}
	/* end breadcrumbs */

	.grid{
		display: grid;
		grid-template-columns: auto 250px;
		grid-template-areas: "ehbcontent sidebar";
		align-content: end;
	}

	.ehb-content{
		grid-area: ehbcontent;
		margin-bottom: @widemargin;

		.box{
			min-height: 170px;
			margin-bottom: @gutter;

			img{
				padding: 7px;
				min-height: 120px;
				float: left;
				border-radius: 4px;
			}
		}

		.church-map{
			display:block;
			padding: @gutter 0;

		}

		.contact-form{
			grid-template-columns: 1fr 1fr;
			grid-gap: @gutter;
			
				
				form {
			width: 240px;
				
					margin: 0 10px;
					align-content: center;
				input, textarea{
					border: 1px solid #333;
					padding: 10px;
					width: 240px;
					border-radius: 4px;
					margin: 7px;
				}
				button{
					padding: 10px 16px;
					border-radius: 4px;
					background-color: @accentcolor;
					transition: background-color 0.25s ease;
					color:#fff;

					&:hover, &:active, &focus{
						background-color: darken(@accentcolor, 10%);
					}
				}
			}
			.church-info{
	
			}
			
			
		}
	}

	.box-comments{
		width: 100%;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		grid-gap: @gutter;
		.tabs{
			align-content:left;
			

			button{

				background-color: inherit;
			  
			    border: none;
			    outline: none;
			    cursor: pointer;
			    padding: 12px 16px;
			    transition: background-color 0.25s ease;
			    &:hover, &:active, &:focus{
			    	background-color: #f7f7f7;
			    	border: 1px solid #e5e5e5;
			    }

			}

		}
		.tabcontent{
			grid-row: 1 / 3;
			padding: 10px;
			border-bottom: 1px solid #f1f1f1;
			
		    input[type="text"]{
		    	width: 100%;
		    	padding: 10px;
		    }
		}

	}

	aside{
		grid-area: sidebar;
		margin-left: @widemargin;
	}

	//aside left menu

	.nav-category{
		h3{
			color: #000;
			margin-bottom: @gutter;
		}
		ul{
			list-style-type: none;
	
		}
		ul li a{
			color: #2e2e2e;
			font-size: 12px;
			font-weight: 600;
			line-height: 1.8;
			&:focus,
			&:hover, &:active{
				color: @accentcolor;
			}
		}
	}
	.box{
		padding-top: @gutter;
		display: flex;
		/*align-items: flex-start;*/
 		flex-wrap: wrap;
 		align-content: space-around;

		.church-info{	
			width: 40%;
			margin-bottom: @widemargin;

			span{
				font-weight: 600;
			}
			h4{
				font-weight: normal;
			}
		}

	}
	
}


@import "_media";