@import "core";


body {
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  overflow-x: hidden;
  overflow-y: auto;
}

h3{
	color:#c6b48c;
}

.grid{
	display: grid;
}

.title-center{
	text-align: center;
	padding: @gutter 0;
	margin: @widebottom;
}

.wrapper{
	grid-template-columns: repeat(1, 1fr);

	grid-auto-rows: minmax(100px, auto);
	grid-template-areas: "header"
						 "menu"
					     "content"
					     "footer";
                        
   
}
//header mainpage
header{
	grid-area: header;
	
}

.header-content{
	min-height: 60vh;
    .grid{
    	grid-template-columns: 1fr 1fr;/*repeat(2, minmax(20%, 45%));*/
    	grid-template-areas: 
						    "logo img"
						    "logo underline";
		-ms-grid-rows: minmax(100vh, 1fr);				    
    	grid-gap: 10px;
    	justify-item: center;
    	align-item: center;
    }

 .background-left{
		grid-area: logo;
	 	background-color: @headercolor;
     	min-height: 60vh;

	}
	.container-logo{
		border: 1px solid red;
		color: #fff;
		width: 30%;
		align-item: right;

		.logo{
			.small-description{
			font-size: 10px;
			}
		}
		.description{
			width: 250px;

			button{
				padding: 7px;

			}
		}
	}

	.banner-img{
		grid-area: img;
		background-position:right;
		min-height: 60vh;
	}

	.background-img-underline{
		grid-area: underline;
	 	background: linear-gradient(to right, @accentcolor, #f2e0ca);
	 	height: 15px;
	 	align-utems: end;
	}
  }

// end header mainpage


//content
.content{
	.main-news{
		grid-template-columns: repeat(2, 50%);
		grid-gap: 1px 10px;
	
		.box{
			box-sizing: border-box;
			margin-bottom: @gutter;
			
			img{
				float: left;
				padding: 7px;
				height: 84px;
				width: 126px;
				border-radius: 4px;
			}
		}
	}

	.main-events{
		background: #f9f3e7;
		
		.grid{
			grid-template-columns: 1fr 1fr 1fr;
			grid-gap: 5px 25px;
				
			// тут background по центру иконка
		}
		.box{
			margin-bottom: @widebottom;
			text-align: center;
		}
		.date-title{
			color: @accentcolor;
			text-transform: uppercase;
			line-height: 1.8;
		}

	}
	.region-serving{
		margin-bottom: @widebottom;
		.grid{
			grid-template-columns: 1fr 1fr 1fr;
			grid-gap: @gutter;
			aling-items: center;
			justify-items: center;

		}
		.box{
			text-align: center;
			
		}
	}

	.about-us{
		background: linear-gradient(to right, #F5F6F6, #89C4DE);
		height: 610px;
		.grid{
			grid-template-columns: repeat(2, minmax(30%, 40%));
			grid-gap: 5px @gutter;
			grid-template-areas: 
						    "desc about-img"
						    "about-nav about-img";
		
			justify-content: center;
			align-items: center;
	
		}
		
		.description{
			grid-area: desc;

			
		}
		.about-nav{
			grid-area: about-nav;
		
		}
		.about-img{
			grid-area: about-img;
			grid-row: 1 / 3;
			justify-item: center;
		}
	}

	.articles{
		.grid{
			grid-template-columns: repeat(2, minmax(30% 150px));
			grid-gap: @gutter;
			align-items: start;
			display: flex;
		}
		.articles{
			

		}
		.nav-articles{
		
			height: 84px;
			width: 126px;
		}
	}
}
// end content


