@import "core";
@import "fonts";

body {
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  overflow-x: hidden;
  overflow-y: auto;
}

h3{
	color:#c6b48c;
}

.grid{
	display: grid;
}

.title-center{
	text-align: center;
	padding: @gutter 0;
	margin: @widemargin;
}

.wrapper{
	grid-template-columns: repeat(1, 1fr);

	grid-auto-rows: minmax(100px, auto);
	grid-template-areas: "header"
						 "menu"
					     "content"
					     "footer";
                        
   
}
//header mainpage
header{
	grid-area: header;
	
}

.header-content{
	min-height: 60vh;
	position:relative;

    .grid{
    	grid-template-columns: 1fr 1fr;
    	grid-template-areas: 
						    "logo img"
						    "logo underline";
    	grid-gap: 10px;
    	justify-item: end;
    	align-items: start;
    }

 .background-left{
		grid-area: logo;
		grid-column: 1/3;
	 	background-color: @headercolor;
 	    align-self: start;
	}

	.container-logo{
		color: #fff;
		width: 30%;
		margin-top: @widemargin;
		position: relative;

		.logo{
			width: 206px;
			text-align: center;
			margin-bottom:  @gutter;

			img{
				margin: 0 auto;
			}
			.small-description{
				font-size: 14px;
		
			}
		}

		.description{
			width: 300px;
			
			h2{
				line-height: 2.5;
			}
			p{
				font-size: 16px;
			}
			.header-buttons{
				margin: @gutter 0;

				button{
					padding: 10px 17px;
					font-size: 13px;
					opacity: 0.8;
					.transitions;

					&:hover, &:focus, &:active{
						opacity: 1;
					}
				}
			}
		}
	}

	.banner-img{
		grid-area: img;
		align-self: end;
		background-size:cover;
		background-position:center;
		background-repeat: no-repeat;
		min-height: 60vh; /*597px*/
		z-index: 1000;
	}

	.background-img-underline{
		grid-area: underline;
		align-self: end;
	 	background: linear-gradient(to right, @accentcolor, #f2e0ca);
	 	height: 30px;
	}
  }

// end header mainpage
.box{
	display: block;
	box-sizing: border-box;
}

//content
.content{
	.main-news{
		grid-template-columns: 1fr 1fr;
		grid-gap: @gutter;
	
		.box{
			.box;
			min-height: 80px;/*100*/
			min-width: 126px;
			border: none;

  			.content-news{
  				display: flex;
  				margin-top: 10px;
  			}
			.news-img{
				padding-right: 10px;

				img{
					width: 126px;
				    height: 80px;
					border-radius: 4px;
					object-fit: cover;
				    overflow: hidden;
					background-size: cover;
				    background-position: center;
				    background-repeat: no-repeat;
				}
			}
			h3 a{
				color: #496B73;
				font-size: 24px;
				text-decoration: none;
			}
			.dates *{
				color: #737373;
			}
		}
	}

	.main-events{
		background: #f9f3e7;
		min-height: 55vh;/*722px;*/
		padding-bottom: @widemargin;

		.container{
			.title-center{
				padding-top: 40px;
			}

		}
		.grid{
			grid-template-columns: repeat(3, 30%);
			grid-gap: @widemargin;

			// тут background по центру иконка
		}
		.box{
			margin-bottom: @widemargin;
			text-align: center;
			align-content: center;
	
			.date-title{
				margin: 0 auto;
				color: #D6AC70;
				text-transform: uppercase;
				line-height: 1.8;
				font-weight: 500;
			}

			h3{
				margin: 0 auto;
				color: #000;
				line-height: 2.2;
			}
		}
	}

	.region-serving{
		margin-bottom: @widemargin;
		.grid{
			grid-template-columns: 1fr 1fr 1fr;
			grid-gap: @widemargin*2;
			aling-items: center;
			justify-items: center;

		}
		.box{
			text-align: center;
		
			.icon-serve{
				text-align: center;
				width: 100px;
				margin: 0 auto;
			}
			p{
				font-size: 18px;
			}
		}
		.box-serving{
			display: block;
			min-height: 250px;
			h3{
				font-weight: 600;
				color: #000;
				padding-bottom: 10px;
				font-size: 30px;
			}
		}
	}

	.about-us{
		background: linear-gradient(to right, #F5F6F6, #89C4DE);
		min-height: 50vh;
		

		.grid{
			padding: @widemargin;
			grid-template-columns: repeat(2, minmax(30%, 40%));
			grid-gap: 5px @gutter;
			grid-template-areas: 
						    "desc about-img"
						    "about-nav about-img";
		
			justify-content: center;
			align-items: center;
			vertical-align: middle;
	
		}
		
		.description{
			grid-area: desc;
			p{
				font-size: 20px;
				color: #333;
			}
		}
		
		.about-nav{
			grid-area: about-nav;

			
			ul{
				list-style-type: none;

			li a{
				font-size: 24px;
				color: #496B73;
				line-height: 1.8;
			}
			}
		}

  		.about-img{
			grid-area: about-img;
			grid-row: 1 / 3;
			text-align:center;
			margin: @widemargin 0;
			img{
				border: 2px solid #496B73;/*#11608c;*/
				border-radius: 50%;
				padding: 10px;
			}
			
		}
	}

	.articles{
		.grid{
			grid-template-columns: repeat(2, minmax(auto-fill, 250px));
			grid-gap: @widemargin *2;
			align-items: start;
		}
		.articles{
			align-items: center;
			.box{
				.box;
				margin-bottom: @gutter;

				h4{
					font-size: 25px;
					text-transform: uppercase;
						
				}
				.dates a, p{
					font-size: 15px;
				}
			}
			

		}
		.nav-articles{
			height: 87px;
			width: 145px; /*126*/
			text-align: center;

			img{
				padding: @gutter;
				max-width: 145px;
				margin-bottom: @gutter;
			}
		}
	}
}
// end content
