@import "core";


body {
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  overflow-x: hidden;
  overflow-y: auto;
}

h3{
	color:#c6b48c;
}

.grid{
	display: grid;
}

.title-center{
	text-align: center;
	padding: @gutter 0;
	margin: @widebottom;
}

.wrapper{
	grid-template-columns: repeat(1, 1fr);

	grid-auto-rows: minmax(100px, auto);
	grid-template-areas: "header"
						 "menu"
					     "content"
					     "footer";
                        
   
}
//header mainpage
header{
	grid-area: header;
	
}

.header-content{
	min-height: 60vh;
    .grid{
    	grid-template-columns: 1fr 1fr;/*repeat(2, minmax(10%, 85%));*/
    	grid-template-areas: 
						    "logo img"
						    "logo underline";
		-ms-grid-rows: minmax(100vh, 1fr);				    
    	grid-gap: 10px;
    	justify-item: center;
    	align-item: center;
    }

 .background-left{
		grid-area: logo;
	 	background-color: @headercolor;
     	min-height: 60vh;

	}
	.container-logo{
		color: #fff;
		width: 30%;
		padding: @widebottom*2 0;

		.logo{
			width: 150px;
			text-align: center;
			margin-bottom:  @widebottom;

			img{
				margin: 0 auto;
			}
			.small-description{
			font-size: 10px;
		
			}
		}
		.description{
			width: 300px;

			h2{
				line-height: 2.5;
			}
			.header-buttons{
				padding: @gutter 0;
				display: block;
				text-align: center;

				button{
					padding: 10px 17px;
					opacity: 0.8;
					.transitions;

					&:hover, &:focus, &:active{
						opacity: 1;
					}
				}
			}
			
		}
	}

	.banner-img{
		grid-area: img;
		background-position:right;
		min-height: 60vh;
	}

	.background-img-underline{
		grid-area: underline;
	 	background: linear-gradient(to right, @accentcolor, #f2e0ca);
	 	height: 15px;
	 	align-utems: end;
	}
  }

// end header mainpage
.box{
			display: block;
			box-sizing: border-box;
}

//content
.content{
	.main-news{
		grid-template-columns: repeat(2, 47%);
		grid-gap: @widebottom;
	
		.box{
			.box;
			min-height: 80px;
			min-width: 126px;

  			.content-news{
  				display: flex;
  			}
			.news-img{
				padding-right: 10px;
				padding-top: 10px;
				img{
					border-radius: 4px;
					object-fit: cover;
				    overflow: hidden;
					width: 150px;
				    height: 100px;
				    background-image: url("img/thumb_news.jpg");
				    background-size: cover;
				    background-repeat: no-repeat;
				    background-position: 50% 50%;
				}
			}
			h3{
				color: #000;
			}
		}
	}

	.main-events{
		background: #f9f3e7;
		/*height: 720px;*/
		margin-bottom: @widebottom;

		.container{
			vertical-align: bottom;

		}
		.grid{
			grid-template-columns: repeat(3, 30%);/*1fr 1fr 1fr;*/
			grid-gap: 5px 25px;
		
			// тут background по центру иконка
		}
		.box{
			margin-bottom: @widebottom;
			text-align: center;

			.date-title{
				display:block;
				margin: 0 auto;
				color: @accentcolor;
				text-transform: uppercase;
				line-height: 1.8;
			}

			h3{
			margin: 0 auto;
				color: #000;
				padding: 10px;
			}
		}


	}
	.region-serving{
		margin-bottom: @widebottom;
		.grid{
			grid-template-columns: 1fr 1fr 1fr;
			grid-gap: @widebottom*2;
			aling-items: center;
			justify-items: center;

		}
		.box{
			text-align: center;
		
			.icon-serve{
				text-align: center;
				width: 100px;
				margin: 0 auto;
			}
		}
		.box-serving{
			display: block;
			min-height: 250px;
			h3{
				font-weight: 600;
				color: #000;
				padding-bottom: 10px;
			}
		}
		
	}

	.about-us{
		background: linear-gradient(to right, #F5F6F6, #89C4DE);
		height: 610px;
		.grid{
			padding: @widebottom;
			grid-template-columns: repeat(2, minmax(30%, 40%));
			grid-gap: 5px @gutter;
			grid-template-areas: 
						    "desc about-img"
						    "about-nav about-img";
		
			justify-content: center;
			align-items: center;
			vertical-align: middle;
	
		}
		
		.description{
			grid-area: desc;
		}
		
		.about-nav{
			grid-area: about-nav;

			
			ul{
				list-style-type: none;

			li a{
				font-size: 15px;
				font-weight: 600;
			}
			}
		}

  		.about-img{
			grid-area: about-img;
			grid-row: 1 / 3;
			text-align:center;
			margin: @widebottom 0;
			img{
				border: 2px solid #11608c;
				border-radius: 50%;
				padding: 10px;
			}
			
		}
	}

	.articles{
		.grid{
			grid-template-columns: repeat(2, minmax(auto-fill, 250px));
			grid-gap: @widebottom *2;
			align-items: start;
			/*display: flex;*/
		}
		.articles{
			grid-row: 1/3;
			.box{
				.box;
				margin-bottom: @gutter;

				h4{
					text-transform: uppercase;
					/*line-height: 0.5;*/
					
				}
			}
			

		}
		.nav-articles{
			height: 84px;
			width: 126px;
			text-align: center;

			img{
				padding: @gutter;
				max-width: 80px;
				margin-bottom: @gutter;
			}
		}
	}
}
// end content


