@accentcolor: #F8A342; //bright orange check color with mockup
@headercolor: #2784b2; //background header color
@mainlightorange:#f8f7f3;
@maingray: #8aaebe;
@gutter: 20px; 
@widemargin: @gutter * 2;

@header-font: Roboto;

h1, h2, h3, h4 {
    font-family: @header-font;
}

h3{
	color: #496B73;/*#2784b2;*/
	font-weight: 400;
	line-height: 1.3;
}
